<div class='container' id="page-container">
  <div id="content-wrap">
    <header>
      <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
          <div class="navbar-nav">
              <a class="nav-item nav-link" routerLink="/">Home</a>
              <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
              <a class="nav-item nav-link" (click)="logout()">Logout</a>
          </div>
      </nav>
    </header>
    <section>
        <app-alert></app-alert>
        <router-outlet></router-outlet>
    </section>
  </div>
<footer>
    <p> © {{year}} Copyright : SAKHRI Mohamed Amine</p>
  </footer>
</div>
